.windsurfrules
.cursor/
.env
data/
models/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# MLflow outputs and logs
notebooks/mlflow/
